body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
.signup {
  width: 18vw;
}

.emailerror {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: smaller;
  padding: 0;
  margin-bottom: 10px;
  margin-left: 75px;
}

.passerror {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: smaller;
  padding: 0;
  margin-bottom: 10px;
  margin-left: 20px;
}
